body,h1,h2,h3,h4,h5,h6, div, span, p { margin: 0; padding: 0; border: 0;}
body {
    margin: 0 auto;
    width: 200mm;
    height: 250mm;
    font: 15px 'Roboto', arial, sans-serif;
    /*font: 14px arial, sans-serif;*/
    padding-top:30px;
}

a:hover,a:active,a:visited, a:link{
    color: #0ca3da;
    font-weight: 300;
    text-decoration: none;
}

a.Circles {font-weight: 700;}
main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 160px;
}
main>div{
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    left: auto;
    overflow: hidden;
    padding: 5px;
}
left-column, right-column {
    display: inline-block;
    position: relative;
    margin-top: 10pt;
    vertical-align: text-top;
} 
left-column>div, right-column>div {
    display: inline-block;
    margin-bottom: 10pt;
} 
left-column{width: 63%;}
right-column{width:36%;}
.b-goals {
    top: 0px;
    height: 220px;
    text-align: justify;
    display: none !important;
}
.b-goals > p{
    padding: 0 15px 0 15px;
    font-size:17px;
}
.b-experience {
    /* bottom:  200px; */
    height: 700px;
}
ul {
    list-style:none;
    padding-left:10px;
}
ul.m-dash {
    list-style-type: "- ";
    margin-top: 0px;
    margin-bottom: 0px;
}

h1, h2 {
    font-size: 34pt;
    text-transform:uppercase;
    font-weight: bold;
}
h2 {
    font-size: 19pt;
    display: block;
    margin-left: 0px;
    color:  #0ca3da;
}
h3 {
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    font-size:22pt;
    margin-bottom: 13px;
}

.left>h3{
    /*line-height: 42pt;*/
    padding-left: 42pt;
}

h3>img, p>img{margin-right: 5pt;}

.m-normal {
    font-weight: 300;
}
h4 a:hover, h4 a:active, h4 a:visited, h4 a:link {
    font-weight: 700;
    color:gray;
}
.m-bold {
    font-weight: 700;
}
img#myPhoto{
    width: 120px;
    height: 160px;
    float: left;
    display: inline-block;
    margin-right: 15pt;
    border-right: solid 6pt #0ca3da;
    padding-right: 15pt;
} 
/* images */
h3>img{ width: 30px; height: 30px; }

.b-info>p>img {width: 24px; height: 24px; margin-left: 7px;margin-right: 15px;}
.b-interests ul li {display: inline-block;}
.b-interests ul li:not(:last-child) a::after {content: ','; color: black;}

/* animations */
.barA {
    display: inline-block;
    position:  relative;
}
img.bar {content: url(images/bar.gif) !important;}
.barA img.barA {
    width:100px;
    left:0px;
    top:5px;
    height:10px;
    /*display:inline-block;*/
    position:absolute;
    z-index: -1;
}
.skill_wrap {
    line-height: 20px;
}
.bar {
    height:10px;
    background:#0ca3da;
    display:inline-block;
    position:relative;
    animation: bar 1s;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    /*-webkit-animation: bar 3s;*/
    /*-moz-animation: bar 3s;*/
    /*-ms-animation: bar 3s;*/
    /*-o-animation: bar 3s;*/
    /*animation: bar 3s;*/
} 
/*@keyframes bar {0%   {width: 0px;}}*/
/*    @-webkit-keyframes bar {0%   {width: 0px;}}*/
/*    @-moz-keyframes bar {0%   {width: 0px;}}*/
/*    @-ms-keyframes bar {0%   {width: 0px;}}*/
/*    @-o-keyframes bar {0%   {width: 0px;}}*/

.wrap {
 display: inline-block;
 width : 95px;
}

#ecmascript {width:70px;}
#css_html5 {width:70px;}
#pixijs {width:80px;}
#createjs {width:75px;}
#GreenSock {width:80px;}
#python {width:75px;}
#demandware {width:75px;}
#haxe {width:75px;}

#english {width:75px;font-size: 11px;}

/* timeline: Xp & edu */
aside{
    position: relative;
    display: inline-block !important;
    height: 100%;
    width: 20%;
    left:  0px;
    font-size: 13px;
    font-weight: 700;
    transform:  rotate(-15deg);
    transform-origin: top left;
    /*-webkit-transform: rotate(-15deg) translate3d( 0, 0, 0);*/
    /*-webkit-transform:  rotate(-15deg);*/
    -webkit-transform-origin: top left;
    -webkit-backface-visibility:hidden;
    -webkit-font-smooothing:none;
    -moz-transform:  rotate(-15deg);
    -moz-transform-origin: top left;
    -ms-transform:  rotate(-15deg);
    -ms-transform-origin: top left;
    -o-transform:  rotate(-15deg);
    -o-transform-origin: top left;
    }

h4 {color: #0ca3da;}
h5>a:hover, h5>a:active, h5>a:visited, h5>a:link{font-weight: bold;}

.uni{top:0px;right:-10px;}
.school{top:15px;right:-10px;}
.rodis{top: 15px;}
.vintech{top: -10px;}
.cayetano{top: -10px;}
.melontech{top: -25px;}
.astound{top: -80px;}
.tick42{top: -70px;}
.wrapTLright{
    width: 75%;
    height: 100%;
    display: inline-block;
    border-left: 1pt dashed black;
    padding-left: 10pt;
    margin-bottom: 1em;
}

h2 .account {
    font-size: 20pt;
    display: inline-block;
    margin-left:20px;
    color:  #0ca3da;
    font-weight: 300;
}

section.timeline{
    position: relative;
}
.b-education {
    margin-top: 40px;
}

@media print{
    .bar {
        height:10px;
        top:0;
        -webkit-print-color-adjust:exact;
    }
    .b-education {
        display: none;
    }
}
