/* .tile defines the visible area of each tile*/
.hintTile{
    display: inline-block;
    border: 1px solid rgba(255,255,255,0);
    /*border-radius: 6px;*/
    font-size: 13px;
    margin: 6px;
    width:24px;
    height:24px;
    position: relative;/* for tile-arrangement*/
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    /*background-color: #168d5c;*/
    background-image: url(../images/tiles.png);
    background-size: 184px 47px;
	transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -khtml-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
}
.hintSymbolContainers{
    top:10px;
    position: relative;
    display: inline-block;
    /*border: 1px solid rgb(255,255,255);*/
    /*border-radius: 6px;*/
    font-size: 18px;
    padding-left: 25px;
    width:200px;
    height:46px;
    line-height: 36px;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;

}
