/* .panel defines the divisible container for */
.panel{
    margin-top: 15px;
    font-size: 16px;/*restore font-size after bug-fix*/
    width:133px;
    height: 133px;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    display: inline-block;
}

/* .bigCircle defines the size of the big circles*/
.bigCircle{
    width: 100%;
    height: 100%;
    background : url(../images/bigCircle.png) no-repeat bottom;
    background-size: contain;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    border-radius: 100%;
}

/* .tile defines the visible area of each tile*/
.tile{
    border: 1px solid rgba(255,255,255,0);
    border-radius: 6px;
    width:24px;
    height:24px;
    display: block;/*needed in the relative tile-arrangement*/
    position: relative;/* for tile-arrangement*/
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    background-image: url(../images/tiles.png);
    background-size: 184px 47px;
}


/* .tileX defines the positions of the tiles in the BigCircle*/
.tile0{
    left:73px;
    top:11px;
}

.tile1{
    left:99px;
    top:12px;
}

.tile2{
    left:99px;
    top:25px;
}

.tile3{
    left:73px;
    top:27px;
}

.tile4{
    left:36px;
    top:3px;
}

.tile5{
    left:10px;
    top:-46px;
}

.tile6{
    left:10px;
    top:-107px;
}

.tile7{
    left:36px;
    top:-157px;
}




/* .symbolX define the places from the sprite image*/
.symbol0{
    background-position: -1px -1px;
}
.symbol0.win{
    background-position: -1px -24px;
}

.symbol1{
    background-position: -25px -1px;
}
.symbol1.win{
    background-position: -25px -24px;
}

.symbol2{
    background-position: -48px -1px;
}
.symbol2.win{
    background-position: -48px -24px;
}

.symbol3{
    background-position: -70px -1px;
}
.symbol3.win{
    background-position: -70px -24px;
}

.symbol4{
    background-position: -93px -1px;
}
.symbol4.win{
    background-position: -93px -24px;
}

.symbol5{
    background-position: -116px -1px;
}

.symbol5.win{
    background-position: -116px -24px;
}

.symbol6{
    background-position: -139px -1px;
}

.symbol6.win{
    background-position: -139px -24px;
}

.symbol7{
    background-position: -162px -1px;
}

.symbol7.win{
    background-position: -162px -24px;
}

/* .central-circ defines the position and the properties of the middle circles */
.central-circ{
    width:40px;
    height:40px;
    display: block;/*needed in the relative tile-arrangement*/
    position: relative;/* for tile-arrangement*/
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    left:47px;
    top:-145px;
    background-color: #014b29;/*#014b29;*/
    border: 8px solid #014b29;/* #168d5c*/
    border-radius: 100%;
}


